name: Build Windows App
on:
  push:
    branches: [ main ] # Or "master" if that is your branch name

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Enable Windows Desktop
        run: flutter config --enable-windows-desktop
      - name: Get Packages
        run: flutter pub get
      - name: Build Windows
        run: flutter build windows --release
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: windows-exe
          path: build/windows/runner/Release/
